<div class="splide"  id="sale_splide" style="min-height: 400px; width: 100%; margin:55px 0  ">
  <div class="splide__track " style="width: 99%; margin: 0 auto">
    <ul class="splide__list">
      <li class="splide__slide"  style="border: none">
        <app-shop-card></app-shop-card>
      </li>
      <li class="splide__slide" style="border: none" >        <app-shop-card></app-shop-card>
      </li>
      <li class="splide__slide" style="border: none">        <app-shop-card></app-shop-card>
      </li>

      <li class="splide__slide"style="border: none">        <app-shop-card></app-shop-card>
      </li>


      <li class="splide__slide"style="border: none">        <app-shop-card></app-shop-card>
      </li>

      <li class="splide__slide"style="border: none">        <app-shop-card></app-shop-card>
      </li>

      <li class="splide__slide"style="border: none">        <app-shop-card></app-shop-card>
      </li>

      <li class="splide__slide"style="border: none">
        <app-shop-card></app-shop-card>

      </li>
      <li class="splide__slide" style="border: none" >        <app-shop-card></app-shop-card>
      </li>
      <li class="splide__slide"style="border: none" >        <app-shop-card></app-shop-card>
      </li>

      <li class="splide__slide"style="border: none">        <app-shop-card></app-shop-card>
      </li>


      <li class="splide__slide"style="border: none">        <app-shop-card></app-shop-card>
      </li>




    </ul>
  </div>
</div>
