




.card{
  position: relative;
  width:245px;
  height: 345px;
  border: 2px black none;
  border-radius: 10px;
}

.card:hover{
  border: 2px black solid;
  transition: border .1s;

}


.card-item{
  position: absolute;
padding: 15px ;
  text-align: center;
  top: 25%;
}

.card-title,
.card-price,
.cardIcon{
  bottom: 0;
}





