<header>
  <div class="logo_ef">
    <h1>DHSale</h1>
  </div>
</header>
<section>
  <div class="container">
    <div class="info">
      <div class="info_adress">
        <p style="font-size: 40px;font-weight: 900; font-family: 'Poppins', sans-serif;color: #77fdc8;">Get in Touch</p>
        <p style="color: white; font-size: 18px">78200 Ivano-Frankivsk obl. Kolomiya</p>
        <p style="color: white; font-size: 18px">andrik096108@gmail.com</p>
        <p style="color: white; font-size: 18px">+380961089729</p>
      </div>


      <div class="insert_info">


        <input type="text" name="Name" style="width: 35%; " autocomplete="off" placeholder="Name" maxlength="50"  >
        <input type="text" name="Surname" style="width: 35%;margin-left: 5px "placeholder="Surname" maxlength="50">


        <input type="email" name="Email " style="width: 35%; "placeholder="Email" maxlength="50" >
        <input type="tel" name="Phone" style="width: 35%;margin-left: 5px"placeholder="Phone" maxlength="13">




        <input class="input_adres" type="text" name="Address"  style=" width: 75.5%"placeholder="Address" maxlength="100">



        <textarea name=""  cols="30" rows="10" style="width: 75%; background-color: #484e55"placeholder="Type your message here..." autocomplete="off" maxlength="500"></textarea>
        <button class="subm_btn" style="width: 75%">Submit</button>

      </div>

    </div>
  </div>
</section>

<section  >
  <div class="map_wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7180.849478715163!2d25.04432867326598!3d48.529518124011105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa5d1240cfd0d492!2z0JzRltGB0YzQutC40Lkg0L_QsNGA0Log0ZbQvC7QmtC40YDQuNC70LAg0KLRgNC40LvRjNC-0LLRgdGM0LrQvtCz0L4!5e0!3m2!1suk!2sua!4v1601650261541!5m2!1suk!2sua" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  </div>
</section>
